@page "/"
@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>


<div class="d-flex justify-content-center align-content-center pt-15" style="height: 500px">
    <MudGrid Class="pt-4" Style="height:100%">

        <MudItem xs="12" sm="6" Style="height:100%">
            <MudImage Src="images/happy-falily.jpg" Width="500" Height="300" Alt="Familie" Elevation="25" Class="rounded-lg ma-4" />
        </MudItem>
        <MudItem xs="12" sm="6" Style="height:100%" Class="flex-column d-flex pb-10">
            <div>
                <MudText Typo="Typo.h2">Institutions-guide til børnefamilier</MudText>
                <MudText Typo="Typo.h5">Se og sammenlign tilsynsrapporter fra institutioner i dit nærområde</MudText>
            </div>


            <MudButton Class="mt-15 ml-15 mr-15" Variant="Variant.Filled" Size="Size.Large" Color="Color.Tertiary" OnClick="NavigateToAnotherPage">Start Her</MudButton>


         
        </MudItem>
    </MudGrid>
</div>
@code {
    private void NavigateToAnotherPage() => Navigation.NavigateTo("/institutions");
}
